// Read-only mode annotation block styling
.tahqiq-block-display {
    display: block;
    border: 1px solid rgba(128, 128, 128, 0.5);
    margin: 0.5rem;
    padding: 0.5rem;
    &:hover {
        border: 1px solid rgba(128, 128, 128, 1);
        cursor: pointer;
    }
    // Dragged over styling
    &.tahqiq-drag-target {
        border: 2px dashed rgba(128, 128, 128, 0.5);
    }
    * {
        pointer-events: none;
    }
}

// Edit mode annotation block styling
.tahqiq-block-editor {
    display: block;
    // Editable label with placeholder
    .tahqiq-label-editor {
        background-color: white;
        color: black;
        min-height: 3em;
        border: 1px solid #ccc;;
        &[contenteditable=true]:empty:not(:focus):before {
            content: attr(data-placeholder);
            color: gray;
        }
    }
}
